html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  border-bottom: solid 1px #a63f38;
  padding: .5em;
  justify-content: center;
  margin: 0;
  max-height: 80px;
}

img {
  display: flex;
  justify-content: space-between;
  width: 40px;
  margin: 0;
  max-height: 40px;
}

nav {
  background-color: #d05c2e;
}

ul a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style-type: none;
  display: inline-block;
  margin: 0;
}

.btn {
  font-size: 1.125rem;
  display: inline-block;
  display: flex;
  justify-content: space-between;
  padding:.5em;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

a:hover {
  background-color: #a63f38;
  padding: .5em;
}

.btn a {
  padding; 2em;
}
